# Consistency b/w private & work account
Janis König <janis.koenig@intcube.io> <ljrk@ljrk.org>
Janis König <janis.koenig@intcube.io> Leonard Janis Robert König <ljrk@ljrk.org>
Janis König <janis.koenig@intcube.io> Leonard Janis Robert König <janis.koenig@intcube.io>